
header{
    
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(0,27,47,1) 0%, rgba(0,86,149,1) 88%);
}

.boxLogo{
    
  
  width: 23vw;
  display: flex;
  align-items: center;
  color: white;
  height: 15vh;
  justify-content: space-evenly;
  h1{
    font-size: 25px;
    font-weight: bold;
  }
}

.boxMenu{
    
    width: 35vw;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        a{
            color: white;
        }
    }
}

.boxSearch{
    border: solid 2px white ;
    width: 17vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding-right: 20px;
    margin-right: 20px;
}

.boxInput{
  border: none;  
  outline: none;
  background-color: transparent;
  padding-left: 18px;
  color: white;
  font-size: 17px;
  &::placeholder{
    color: white;
  }
}